footer {
	text-align: center;
	background-color: #1f3646;
	padding: 50px 0px;
}

.col1{
  border-style: solid;
  border-color:  #1f3646;
  border-width: 5px;
  border-radius: 25px;
  background-color: red;
  position: relative;
  left: 40%;
  float: left;
  width: 5%;
  padding: 0px;
}
/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
