body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
.bg-img {
  /* The image used */
  background-image: url("img/mobile.jpg");

  min-height: 100%;
  width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  left: 0;
  margin: 20px;
  max-width: 300px;
  padding: 15px;
  background-color: #03f0fc ;
  border-style: solid;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-style: solid;
  border-width:2px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  position: relative;
  left: 50px;
  background-color: #32cd32;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 50px 20px;
}

.btn:hover {
  background-color: #33ff00;
}

h1{color: #0384fc;}